// Mixins in here
// REQUIREMENTS
// Buttons go here, must be parametric mixins

// STRETCH
// animated parametric mixin

.ParaFlex(@justify:center, @align:center) {
  display: flex;
  flex-flow: row wrap;
  justify-content: @justify;
  align-items: @align;
}

.mobileFlex() {
  @media @mobile {
    flex-flow: column nowrap;
    .ParaFlex
  }
}
